@use '../abstracts/' as abs;

h1 {
  font-size: 2rem;
  font-weight: abs.$font-light;
  line-height: 1.15;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
}

.title-large {
  font-size: 3rem;
  font-weight: abs.$font-black;

  & span {
    font-weight: abs.$font-light;
  }
}

.text-intro {
  font-size: 1.2rem;
}