@use '../abstracts/' as abs;

footer {
  background: abs.$dark;
  color: abs.$text-inverse;
  padding-block: 5em;
  position: relative;

  & a {
    color: abs.$text-inverse;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    // inset: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(../images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;
  }
}

.social-links {
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.8;
  margin-block: .7em;
}

.nav-footer {
  display: flex;
  justify-content: space-evenly;
  margin-inline: auto;

  & a {
    text-decoration: none;
    font-weight: abs.$font-bold;
  }
}

.container--footer {
  max-width: 25em;
}