@use '../abstracts' as abs;

.hero {
  background: linear-gradient(to right, abs.$main, abs.$secondary);

  color: abs.$text-inverse;
  padding-block: 8em;
  text-align: center;

  @media (width>=725px) {
    text-align: left;
    padding-bottom: 0;
    height: 80vmin;
    min-height: 800px;
  }
}

.hero-text {
  @media (width>=725px) {
    margin-top: 10vmax;
  }
}