@use '../abstracts/' as abs;

.main-nav {
  background: abs.$accent;
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;
  height: 100vh;
  height: 100svh;
  font-size: 1.2rem;
  overflow: hidden;
  transition: all ease-in-out 250ms;

  @media (width >=725px) {
    position: relative;
    height: auto;
    flex: auto;
    background: none;
    margin-left: 2em;
    text-align: right;
    left: 0;
  }

  &.is-open {
    left: 0;
  }

  & ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    height: 100svh;

    @media (width >=725px) {
      flex-direction: row;
      height: auto;
    }
  }

  & li {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    flex: 1 1 auto;
    display: flex;

    @media (width >=725px) {
      border: none;
    }
  }

  & a {
    color: abs.$text-inverse;
    text-decoration: none;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (width >=725px) {
      justify-content: flex-end;
    }

    &:hover {
      background: rgba(0, 0, 0, .10);

      @media (width >=725px) {
        background: none;
        color: darken(abs.$text-inverse, 15%);
      }
    }
  }
}

.align-center {
  align-items: center;
}

//************** Hamburger
.nav-toggle {
  display: block;
  padding: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;

  @media (width >=725px) {
    display: none;
  }
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  width: 1.8em;
  height: 3px;
  background-color: abs.$white;
  transition: all ease-in-out 250ms;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(4px);
}

.hamburger.is-open {
  transform: rotate(45deg);

  &::after {
    transform: rotate(-90deg) translateX(3px);
  }

  &::before {
    opacity: 0;
  }
}